* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --primaria: #153677;
  --secundaria: #4e085f;
  --terciario: #ff5945;
  --quarternario: #ff442f;
  --claro: #edeef0;
  --escuro: rgb(68, 68, 68);
  --mais-escuro: rgb(0, 0, 0);
}

body {
  background: linear-gradient(135deg, var(--primaria), var(--secundaria));
  min-height: 100vh;
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}

h1 {
  color: var(--primaria);
  text-align: center;
    margin-bottom: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--claro);
  border-radius: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: var(--terciario);
    color: var(--claro);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.5s;

}

button:hover {
  background-color: var(--quarternario);
}

button:active {
  background-color: var(--claro);
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/assets/checked.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.5s;
}

ul li span:hover {
  background-color: #edeef0;
}