* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --primaria: #23145B;
  --secundaria: #09456C;
  --terciario: #ff5945;
  --quarternario: #ff442f;
  --claro: #edeef0;
  --escuro: rgb(68, 68, 68);
  --mais-escuro: rgb(0, 0, 0);
}

body {
  background: linear-gradient(135deg, var(--primaria), var(--secundaria));
  min-height: 100vh;
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: white;
  margin: 100px auto 20px;
  padding:  30px ;
  border-radius: 20px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contador {
  width: 70px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--primaria), var(--secundaria));
  background-attachment: fixed;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
}

.contador h3{
  color: var(--claro);
}

h1 {
  color: var(--mais-escuro);
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--claro);
  border-radius: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: var(--terciario);
    color: var(--claro);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.5s;

}

button:hover {
  background-color: var(--quarternario);
}

button:active {
  background-color: var(--claro);
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/assets/checked.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.5s;
}

ul li span:hover {
  background-color: #edeef0;
}

footer.rodape {
  color: var(--claro);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
}

.rodape-botao {
  color: var(--claro);
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.rodape-botao:hover {
  color: var(--terciario);
}
