:root{
    --primaria:  rgb(94,12,236);
    --secundaria: #4a0057;
    --terciario: #6d0696;
    --claro: white;
    --escuro: rgb(68, 68, 68);
    --mais-escuro: rgb(0, 0, 0);
}

body{
    background: var(--mais-escuro);
    max-width: 500px;
    margin: 0 auto;
    justify-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


button {
    background-color: var(--primaria);
    color: var(--claro);
    height: 40px;
    width: 110px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    border-radius: 50px; 
    padding: 10px;
}

button:hover{
    background-color: var(--secundaria);
}

button:active{
    background-color: var(--terciario);
}

h1{
    font-size: 3rem;
    color: var(--primaria);
    text-align: center;
}

input{
    height: 20px;
    width: 65%;
    outline: none;
    border: 2px solid var(--secundaria);
    border-radius: 50px;
    padding: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background-color: var(--primaria);
    padding: 10px;
    margin: 10px auto;
    border-radius: 50px;
    color: var(--claro);
    transition: 0.5s;
    text-align: center;
}

li:hover{
    background-color: var(--secundaria);
}